<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de contas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> <br>
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Credor / Devedor" autofocus="true"></ion-input>  
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    
    <ion-list>
      <ion-radio-group formControlName="tipo">
        <ion-list-header>
          <ion-label>Tipo da conta</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>A pagar</ion-label>
          <ion-radio slot="start" value="pagar" name="tipo" color="danger" ></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>A receber</ion-label>
          <ion-radio slot="start" value="receber" name="tipo" color="success" ></ion-radio>
        </ion-item>
      </ion-radio-group>  
    </ion-list>


    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form>
</ion-content>
