<ion-header>
  <ion-toolbar>
    <ion-title>pagar.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    
    <ion-item *ngFor="let conta of listaContas"></ion-item>
      <ion-label *ngIf="conta != null">
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R$ {{conta.valor}}</h3>
      </ion-label>
      <ion-item slot="end" name="trash" (click)="remove(conta)"></ion-item>
  </ion-list>
</ion-content>
